.u-section-1 {background-image: url("../images/PNZ-Comparison-Chart-2018-API-1.png")}
.u-section-1 .u-sheet-1 {min-height: 812px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 500px} }