.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/bg11.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 165px auto 0 24px}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; font-weight: 700; border-style: none; margin: 23px auto 60px 40px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {margin-left: 0}
.u-section-1 .u-btn-1 {margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 473px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 607px}
.u-section-1 .u-text-1 {width: auto; margin-top: 110px}
.u-section-1 .u-btn-1 {margin-top: 0} }