.u-section-1 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-1 .u-sheet-1 {min-height: 177px}
.u-section-1 .u-text-1 {font-weight: 900; margin: 60px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 562px}
.u-section-2 .u-text-1 {font-size: 0.875rem; margin: 21px 0 0}
.u-section-2 .u-layout-wrap-1 {margin: 19px auto 60px 0}
.u-section-2 .u-layout-cell-1 {min-height: 416px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {height: 205px; width: 436px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 0 auto}
.u-section-2 .u-text-2 {font-weight: 700; margin: 19px 0 0}
.u-section-2 .u-text-3 {width: 408px; margin: 21px auto 0}
.u-section-2 .u-layout-cell-2 {min-height: 416px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-image-2 {height: 205px; width: 436px; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 0 auto}
.u-section-2 .u-text-4 {font-weight: 700; margin: 19px 0 0}
.u-section-2 .u-text-5 {width: 408px; margin: 19px auto 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 367px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 343px}
.u-section-2 .u-image-1 {height: 193px; width: 410px}
.u-section-2 .u-layout-cell-2 {min-height: 343px}
.u-section-2 .u-image-2 {height: 193px; width: 410px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 127px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {height: 141px; width: 300px}
.u-section-2 .u-text-3 {width: 300px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 141px; width: 300px}
.u-section-2 .u-text-5 {width: 300px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 227px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }